.Form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}

.Form input {
  height: 30px;
  width: 100%;
}

.Form button {
  height: 50px;
  background: rgb(103, 206, 103);
  color: white;
  width: 100%;
}